.friend-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-item-avatar,
.friend-item-name,
.friend-item-status {
  font-size: 16px;
  margin-bottom: 8px;
}

.friend-item-status.online {
  color: green;
}

.friend-item-status.offline {
  color: red;
}
